body{
    background: rgb(209, 207, 207);
}
.products{
    background: #FFF;
    padding: 5px;

}
.img{
    width:100%;
    height: 230px;
}
.button-p , .title-p{
    display: inline-block;
    width: 100%;
}
.login1{
    background: #FFF;
    padding: 50px;
}
